<div class="my-container">
    <div class="hero-mask">
      <img src="/assets/images/developer.jpg" alt="my-image" />
    </div>
 
  <div class="mini-container">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#header">Aimen <span>.</span></a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link " aria-current="page" href="#home">Home</a>
            <a class="nav-link" href="#about">About</a>
            <a class="nav-link" href="#contact-me">Contact-me</a>
            <a class="nav-link" href="#work">Work</a>
          </div>
        </div> -->
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" href="#home">Home</a>
          <a class="nav-link" href="#about">About</a>
          <a class="nav-link" href="#contact-me">Contact-me</a>
          <a class="nav-link" href="#work">Work</a>
          <a class="nav-link" href="#hobby">What I Do</a>

        </div>
      </div>

    </nav>
    <div class="type-container">
      <p>Welcome</p>
      <h2 class="typed">I'm a Front-End Developer</h2>
      <p>based in Karachi, Pakistan</p>
      <a href="#about" class="about"> <button>About Me</button> </a>
    </div>
  </div>
</div>
