<footer>
    <div class="container">
        <div class="link-container">
            <div class="social-links">
                <a href="https://twitter.com/AzimAimen" target="_blank" rel="noopener noreferrer" class="te">
                <img src="/assets/images/tw.png" alt="twiter logo" />
                </a>
                <a href="https://www.facebook.com/profile.php?id=100027417578813" target="_blank" rel="noopener noreferrer" class="fb">
                <img src="/assets/images/fb.png" alt="facebook logo" />
                </a>
                <a href="home" target="_blank" rel="noopener noreferrer" class="ig">
                <img src="/assets/images/ig.png" alt="instagram logo" />
                </a>
                <a href="https://www.linkedin.com/in/aimen-azim-9058391a5/" target="_blank" rel="noopener noreferrer" class="li">
                <img src="/assets/images/li.png" alt="linkedIn logo" />
                </a>
                <a href="https://www.youtube.com/channel/UCeKDzQ9v8fRif1YWBd_M_zA" target="_blank" rel="noopener noreferrer" class="yt">  
                <img src="/assets/images/yt.png" alt="youtube logo" />
                </a>
              </div>
        </div>
        <div class="copyright-container">
            © 2020 Copyright:
            <a href="#">Aimen Azim</a>
        </div>
    </div>
</footer>