
.copyright-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em;
    background-color: #f2eded;
    font-size: 20px;
    text-align: center;
    color: #595656;
    height: 60px;
    justify-content: center;
}
.copyright-container a{
    font-size: 20px;
    color: #595656;
    margin: 10px;
    text-decoration: none;
}