<div class="my-container">
  <div class="main-div">
    <h1>About Me</h1>
    <h2>Know Me More</h2>
  </div>

  <div class="row">
    <div class="col-1">
      <h3>I'm <span> Aimen Azim</span>, a Web Developer</h3>
      <p>
        Welcome to my portfolio website! I am a front-end web developer with a
        passion for building beautiful, user-friendly websites that are
        optimized for performance and accessibility.
      </p>
      <p>
        Driven Front End Web Developer with an eye for detail and a commitment
        to creating innovative, user-friendly websites and applications.
        Experienced in HTML/CSS, and JavaScript.
      </p>
      <p>
        I help you build brand for your business at an affordable price. I am
        constantly striving to improve my skills and stay up-to-date with the
        latest web technologies and trends. I am excited about the future of web
        development and am eager to be a part of it.
      </p>
    </div>
    <div class="col-2">
      <ul>
        <li><span>Name:</span> Aimen Azim</li>
        <li><span>Email:</span> aimenazim2000@gmail.com</li>
        <li><span>From:</span> Karachi, Pakistan</li>
        <li><span>Name:</span> Aimen Azim</li>
      </ul>
      <a href="/assets/documents/resume.pdf" download="proposed_file_name"
        ><button>Download CV</button></a
      >
    </div>
  </div>
</div>
