<div class="container">
  <div class="row">
    <div class="col-1">
      <img src="/assets/images/img6.jpg" alt="my pic" />
    </div>
    <div class="col-2">
      <h2>About Me</h2>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered in some form, by injected humour, or randomised
        words which dont look even slightly believable. If you are going to use
        a passage of Lorem Ipsum,
      </p>
      <br /><br />
      <ul class="about">
        <li>
          <a href="#education" class="education">Education</a>
         <div id="education" class="edu">
          <div class="desc">
            <strong>BS in Information Technology</strong> <br />
            International Islamic University Islamabad <br />
            <span>2022</span>
          </div>
          <div class="desc">
            <strong>FSC--</strong>
            FSC-- Maths, Physics, Computer <br />
            Fedral Goverment Postgraduate College for Women <br />
            <span>2018</span>
          </div>
          <div class="desc">
            <strong>Metric--</strong>
            Maths, Physics, chemistry, Biology <br />
            FG Public School No.06 for girls <br />
            <span>2016</span>
          </div>
        </div>
        </li>
        <li>
          <a href="#exp" class="experience">Experience </a>
          <div id="exp" class="desc">
            <strong>IIUI Final Year Project</strong>  <br />
            My final year project is an online counseling website for this I
            used the JavaScript most used library React JS. I also have worked
            with bootstrap React, and Material UI used HTML and CSS side by
            side. I am well familiar with react-router Dom Hooks, and Events.
            irls <br />
            <span>September 2021 – September 2022</span>
          </div>
        </li>
        <li>
          <a href="#awards" class="awards">Awards</a>
          <div id="awards" class="desc">
            <strong>Design nominees-</strong>
            Site of the day <br />
            <span>2013- 2014</span> <br/>
       
            <strong>Design nominees-</strong>
            Site of the day <br />
            <span>2013- 2014</span> <br/>
    
            <strong>Design nominees-</strong>
            Site of the day <br />
            <span>2013- 2014</span>
          </div>
        </li>
        <li>
          <a href="#skill" class="main-skills">Main Skills</a>
          <div id="skill" class="desc">
            <strong>User experience design -</strong>
            UI/UX <br />
            Delight the user and make it work.
      
            <strong>User experience design -</strong>
            UI/UX <br />
            Delight the user and make it work.
   
            <strong>User experience design -</strong>
            UI/UX <br />
            Delight the user and make it work.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
