<div class="my-container">
  <div class="main-div">
    <h1 class="title-1">Portfolio</h1>
    <h2 class="title-2">My Work</h2>
  </div>
  <div class="container">
    <!-- Button trigger modal -->
    <div class="image">
      <a
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <img
          src="https://harnishdesign.net/demo/react/simone/demo/images/projects/project-2.jpg"
          alt=""
        />
      </a>
      <div class="desc"><h5>Project 1</h5></div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Portfolio Website
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="main-container">
              <div class="col-1">
                <img
                  src="https://harnishdesign.net/demo/react/simone/demo/images/projects/project-2.jpg"
                  alt=""
                />
              </div>

              <div class="col-2">
                <h6>Project Info</h6>
                <p>
                  Developed a portfolio website using Angular for a client,
                  utilizing expertise in the framework to create a responsive
                  and user-friendly site. Ensured the website was easy to
                  navigate, aesthetically pleasing, and optimized for search
                  engines
                </p>
                <h6>Project Info</h6>
                <ul>
                  <li><span>Client:</span> Muhammad Hassaan Siddiqui</li>
                  <li><span>Technologies:</span> HTML, CSS, Angular</li>
                  <li><span>Industry:</span> Online</li>
                  <li><span>Date:</span> Jan2023</li>
                  <li>
                    <span>URL:</span>
                    <a
                      target="_blank"
                      href="https://hassaanportfolio.netlify.app/">click here</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Button trigger modal -->
    <div class="image">
      <a
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
      >
        <img
          src="https://harnishdesign.net/demo/react/simone/demo/images/projects/project-4.jpg"
          alt=""
        />
      </a>
      <div class="desc"> <h5>Project 2</h5></div>
   
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Project 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="main-container">
          <div class="col-1">
            <img
              src="https://harnishdesign.net/demo/react/simone/demo/images/projects/project-4.jpg"
              alt=""
            />
          </div>

          <div class="col-2">
            <h6>Project Info</h6>
            <p>
              Developed a portfolio website using Angular for a client,
              utilizing expertise in the framework to create a responsive
              and user-friendly site. Ensured the website was easy to
              navigate, aesthetically pleasing, and optimized for search
              engines
            </p>
            <h6>Project Info</h6>
            <ul>
              <li><span>Client:</span> Rubab Azim</li>
              <li><span>Technologies:</span> HTML, CSS, Angular</li>
              <li><span>Industry:</span> Online</li>
              <li><span>Date:</span> Feb2023</li>
              <li>
                <span>URL:</span>
                <a
                  target="_blank"
                  href="https://hassaanportfolio.netlify.app/"
                >
                click here</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
