<div id="#contactMe" class="container">
  <div class="row">
    <div class="col-1">
      <h2>Hire Me.</h2>
      <p>
        I am available for freelance work. Connect with me via phone: 
        0304-5095646 or Email: aimenazim2000@gmail.com
      </p> <br><br>
      <form>
        <input type="text" id="name" name="name" placeholder="Your email *"value=""><br><br> 
        <input type="text" id="email" name="email" placeholder="Your email *" value=""><br><br>
         <input type="text" id="subject" name="subject" placeholder="Write a subject *" value=""><br><br>
         <textarea name="" id="" cols="30" rows="10" placeholder="Message*"></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-2">
      <img src="/assets/images/img7.jpg" alt="hireMe" class="hireme" />
    </div>
  </div>
</div>
