<div id="#contactMe" class="my-container">
  <div class="main-div">
    <h1>Contact</h1>
    <h2>Get In Touch</h2>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>Hire Me.</h3>

      <p><fa-icon class="icon" [icon]="icon1"></fa-icon> Block 3 Gulshan-e-iqbal Karachi</p>

      <p><fa-icon class="icon" [icon]="icon2"></fa-icon> Phone: 0304-5095646</p>

      <p><fa-icon class="icon" [icon]="icon3"></fa-icon> Email: aimenazim2000@gmail.com </p>

      <h5>Follow Me</h5>
      <div class="link-container">
        <div class="social-links">
          <a
            href="https://twitter.com/AzimAimen"
            target="_blank"
            rel="noopener noreferrer"
            class="te"
          >
            <img src="/assets/images/tw.png" alt="twiter logo" />
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=100027417578813"
            target="_blank"
            rel="noopener noreferrer"
            class="fb"
          >
            <img src="/assets/images/fb.png" alt="facebook logo" />
          </a>
          <a href="home" target="_blank" rel="noopener noreferrer" class="ig">
            <img src="/assets/images/ig.png" alt="instagram logo" />
          </a>
          <a
            href="https://www.linkedin.com/in/aimen-azim-9058391a5/"
            target="_blank"
            rel="noopener noreferrer"
            class="li"
          >
            <img src="/assets/images/li.png" alt="linkedIn logo" />
          </a>
          <a
            href="https://www.youtube.com/channel/UCeKDzQ9v8fRif1YWBd_M_zA"
            target="_blank"
            rel="noopener noreferrer"
            class="yt"
          >
            <img src="/assets/images/yt.png" alt="youtube logo" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <form>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Your email *"
          value=""
        /><br /><br />
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Your email *"
          value=""
        /><br /><br />
        <input
          type="text"
          id="subject"
          name="subject"
          placeholder="Write a subject *"
          value=""
        /><br /><br />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Message*"
        ></textarea
        ><br /><br />
        <input type="submit" value="Send Message" />
      </form>
    </div>
  </div>
</div>
