<div class="main-container">
<div class="main-div">
    <h1 class="title-1">testimonial</h1>
    <h2 class="title-2">Client Speak</h2>
  </div>
<div id="carouselExample" class="carousel slide ">
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <div class="row">
            <div class="col1">
              <img src="https://cdn.dribbble.com/users/1040983/screenshots/5630845/media/e95768b82810699dfd54512ff570954a.png?compress=1&resize=400x300&vertical=top" alt="image" />
              <h5>Muhammad Hassaan Siddiqui</h5>
              <p>Compilers</p>
            </div>
            <div class="col2 ">
              <div class="container bg-light">
                <p>
                  I recently worked with Aimen on an web project and I am
                  extremely impressed with their skills and professionalism.she  was
                  attentive to my requirements, responsive to feedback, and
                  dedicated to delivering a high-quality product on time and within
                  budget. I highly recommend Aimen as a talented and reliable
                  Web developer. Good luck! 👍
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col1">
              <img src="https://cdn.dribbble.com/users/1040983/screenshots/5630845/media/e95768b82810699dfd54512ff570954a.png?compress=1&resize=400x300&vertical=top" alt="image" />
              <h5>Muhammad Hassaan Siddiqui</h5>
              <p>Compilers</p>
            </div>
            <div class="col2">
              <div class="container bg-light">
                <p>
                  I recently worked with Aimen on an web project and I am
                  extremely impressed with their skills and professionalism.she  was
                  attentive to my requirements, responsive to feedback, and
                  dedicated to delivering a high-quality product on time and within
                  budget. I highly recommend Aimen as a talented and reliable
                  Web developer. Good luck! 👍
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>