.main-container{
    margin: 0 0 10em 0;
}

.main-div {
    display: flex !important;
    position: relative !important;
    text-align: center !important;
    margin-bottom: 3em !important;
  }
  .title-1 {
    font-size: calc(1.95rem + 8.4vw) !important;
    text-transform: uppercase !important;
    margin-bottom: 0 !important;
    width: 100% !important;
    color: rgba(110, 107, 107, 0.214);
    opacity: 0.4;
  }
  .title-2 {
    font-weight: 600 !important;
    font-size: 2.25rem !important;
    line-height: 1.5 !important;
    margin-bottom: 0 !important;
    align-self: center !important;
    width: 100% !important;
    position: absolute !important;
    color: #121212;
  }

.row{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
 }
.col1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
img{
    width: 7em;
    border-radius: 50%;
}
h3{
    font-weight: 900;
}
.col2{
    width: 100%; 
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
}
.col1 p{
    color: #8b88b1;
}
.container{
    max-width: 70%;
    background-color: white;
    border-radius: 1.25em;
    padding: 1.5em;
    /* box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%); */

}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #20c997 ;
    /* margin-top: 13em; */
    border-radius: 3px;
}